# Docker Postgres
POSTGRES_DATABASE=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Spring Datasource
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
SPRING_JPA_HIBERNATE_DDL_AUTO=

# JWT
JWT_SECRET=
JWT_EXPIRATION=

# Stripe
STRIPE_API_KEY=
STRIPE_SUCCESS_URL=
STRIPE_CANCEL_URL=

#Telegram
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
